<h1>Blog Post Here</h1>
<br />
<br />
<h3>Add a Comment</h3>
<div class="booyah-box col-10 offset-1">
  <%= simple_form_for @comment, url: blog_comments_path(@blog) do |f| %>
    <%= f.input :message %>
    <br />
    <%= f.submit "Add Comment", class: 'btn btn-primary'%>
  <% end %>
</div>