@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  background: image_url('simple_dashed.png');
  color: white;
}

hr {
  color: white;
}

.navbar {
  box-shadow: 0px 1px 3px #2a2a2a;
}

.mw-photo {
  font-family: 'Just Another Hand', cursive;
  font-size: 40px;
}